html{
    font-family:monospace;
}

h1, #categories, p{
    text-align: center;
}

h1 {
    font-size:28px;
    padding-bottom: 5px;
}

.container {
    width: 1000px;
    margin: auto;
    padding-top: 10px;
}

g.map > path {
    fill: none;
}

#categories{
    text-align: center;
}

#selectACategory{
    font-family:monospace;
    padding: 3px;
    font-size: 12px;
    margin-bottom: 10px;
}